.about {
    &__row {
        display: flex;
        justify-content: space-between;

        // gap: 20px;
        &__text {
            padding-right: 50px;

            p {
                line-height: 1.8rem;
                letter-spacing: -0.05em;
                margin-bottom: 35px;
            }
        }

        &__image {
            box-shadow: 10px 10px 74px -15px rgba(0, 0, 0, 0.33);
            width: 100%;

            img {
                height: auto;
            }
        }
    }
}